*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "微软雅黑", sans-serif;
}
input,
textarea,
button,
a {
  font-size: inherit;
  font-family: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
.g-pnl {
  width: 940px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}
.g-pnl .title {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  background-color: #cef;
  position: relative;
}
.g-pnl .title:before {
  content: "";
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #f60;
  z-index: 1;
  display: inline-block;
  position: absolute;
}
.g-pnl .left-pnl {
  float: left;
}
.g-pnl .left-pnl .x-coordinate {
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  position: relative;
  overflow: hidden;
}
.g-pnl .left-pnl .x-coordinate li {
  width: 30px;
  height: 100%;
  float: left;
  text-align: center;
}
.g-pnl .left-pnl .y-coordinate {
  width: 30px;
  line-height: 30px;
  position: relative;
  overflow: hidden;
  float: left;
}
.g-pnl .left-pnl .y-coordinate li {
  width: 100%;
  height: 30px;
  text-align: center;
}
.g-pnl .left-pnl .floor {
  width: 600px;
  height: 600px;
  border: 1px solid #000;
  margin: 0 auto;
  background: #fff;
  background-image: -webkit-linear-gradient(#dddddd 1px, transparent 0), -webkit-linear-gradient(0deg, #dddddd 1px, transparent 0);
  background-image: linear-gradient(#dddddd 1px, transparent 0), linear-gradient(90deg, #dddddd 1px, transparent 0);
  background-size: 30px 30px;
  background-position: -1px -1px;
  position: relative;
  float: left;
}
.g-pnl .left-pnl .floor .box {
  top: 45px;
  left: 58px;
  width: 32px;
  height: 32px;
  -webkit-transition: 200ms;
          transition: 200ms;
  background-image: url("../img/man1.png");
  position: absolute;
}
.g-pnl .left-pnl .floor .box.lef {
  -webkit-animation: lef 1s steps(1) infinite;
          animation: lef 1s steps(1) infinite;
}
.g-pnl .left-pnl .floor .box.top {
  -webkit-animation: top 1s steps(1) infinite;
          animation: top 1s steps(1) infinite;
}
.g-pnl .left-pnl .floor .box.rig {
  -webkit-animation: rig 1s steps(1) infinite;
          animation: rig 1s steps(1) infinite;
}
.g-pnl .left-pnl .floor .box.bot {
  -webkit-animation: bot 1s steps(1) infinite;
          animation: bot 1s steps(1) infinite;
}
.g-pnl .right-pnl {
  width: 300px;
  height: 630px;
  margin-left: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
  float: left;
}
.g-pnl .right-pnl input[type="text"] {
  border-width: 1px;
}
.g-pnl .right-pnl .btn-pnl {
  height: 50px;
  line-height: 50px;
}
.g-pnl .right-pnl .code-pnl {
  height: 580px;
  color: #fff;
  background-color: #ccc;
  overflow: hidden;
}
.g-pnl .right-pnl .code-pnl ul {
  width: 30px;
  float: left;
  position: relative;
}
.g-pnl .right-pnl .code-pnl li.error {
  background-color: red;
}
.g-pnl .right-pnl .code-pnl textarea {
  width: calc(100% - 30px);
  height: 100%;
  margin: 0;
  border: none;
  vertical-align: top;
  color: greenyellow;
  background-color: #262626;
  resize: none;
}
@-webkit-keyframes lef {
  0% {
    background-position: 0 96px;
  }
  25% {
    background-position: 64px 96px;
  }
  50% {
    background-position: 32px 96px;
  }
  75% {
    background-position: 64px 96px;
  }
  100% {
    background-position: 0 96px;
  }
}
@keyframes lef {
  0% {
    background-position: 0 96px;
  }
  25% {
    background-position: 64px 96px;
  }
  50% {
    background-position: 32px 96px;
  }
  75% {
    background-position: 64px 96px;
  }
  100% {
    background-position: 0 96px;
  }
}
@-webkit-keyframes top {
  0% {
    background-position: 0 32px;
  }
  25% {
    background-position: 64px 32px;
  }
  50% {
    background-position: 32px 32px;
  }
  75% {
    background-position: 64px 32px;
  }
  100% {
    background-position: 0 32px;
  }
}
@keyframes top {
  0% {
    background-position: 0 32px;
  }
  25% {
    background-position: 64px 32px;
  }
  50% {
    background-position: 32px 32px;
  }
  75% {
    background-position: 64px 32px;
  }
  100% {
    background-position: 0 32px;
  }
}
@-webkit-keyframes rig {
  0% {
    background-position: 0 64px;
  }
  25% {
    background-position: 64px 64px;
  }
  50% {
    background-position: 32px 64px;
  }
  75% {
    background-position: 64px 64px;
  }
  100% {
    background-position: 0 64px;
  }
}
@keyframes rig {
  0% {
    background-position: 0 64px;
  }
  25% {
    background-position: 64px 64px;
  }
  50% {
    background-position: 32px 64px;
  }
  75% {
    background-position: 64px 64px;
  }
  100% {
    background-position: 0 64px;
  }
}
@-webkit-keyframes bot {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 64px 0;
  }
  50% {
    background-position: 32px 0;
  }
  75% {
    background-position: 64px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes bot {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 64px 0;
  }
  50% {
    background-position: 32px 0;
  }
  75% {
    background-position: 64px 0;
  }
  100% {
    background-position: 0 0;
  }
}
