*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "微软雅黑", sans-serif;
}
body {
  background-color: #ddd;
}
input,
textarea,
button,
a {
  font-size: inherit;
  font-family: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
.g-pnl {
  width: 1260px;
  margin: 20px auto;
  background-color: #fff2e9;
  position: relative;
  overflow: hidden;
}
.g-pnl .title {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  background-color: #cef;
  position: relative;
}
.g-pnl .title:before {
  content: "";
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #f60;
  z-index: 1;
  display: inline-block;
  position: absolute;
}
.g-pnl .left-pnl {
  float: left;
  position: relative;
}
.g-pnl .left-pnl .cmd-tip {
  top: 0;
  right: 0;
  width: 840px;
  height: 840px;
  position: absolute;
  overflow: hidden;
  -webkit-transition: 200ms;
          transition: 200ms;
}
.g-pnl .left-pnl .cmd-tip ul {
  width: 100%;
  height: 100%;
  padding: 40px;
  z-index: 1;
  font-size: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.g-pnl .left-pnl .cmd-tip ul label {
  width: 7em;
  display: inline-block;
}
.g-pnl .left-pnl .cmd-tip ul em {
  color: #ADFF2F;
  font-style: normal;
}
.g-pnl .left-pnl .cmd-tip .btn-close {
  top: 4px;
  right: 4px;
  width: 32px;
  height: 32px;
  z-index: 2;
  background-color: #fff;
  background-image: url("../img/close.png");
  display: inline-block;
  position: absolute;
}
.g-pnl .left-pnl .cmd-tip .btn-close:hover {
  cursor: pointer;
  background-color: orangered;
}
.g-pnl .left-pnl .x-coordinate {
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  position: relative;
  overflow: hidden;
}
.g-pnl .left-pnl .x-coordinate li {
  width: 40px;
  height: 100%;
  float: left;
  text-align: center;
}
.g-pnl .left-pnl .y-coordinate {
  width: 40px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  float: left;
}
.g-pnl .left-pnl .y-coordinate li {
  width: 100%;
  height: 40px;
  text-align: center;
}
.g-pnl .left-pnl .floor {
  width: 800px;
  height: 800px;
  border: 1px solid #000;
  margin: 0 auto;
  background: #fff;
  background-image: -webkit-linear-gradient(#dddddd 1px, transparent 0), -webkit-linear-gradient(0deg, #dddddd 1px, transparent 0);
  background-image: linear-gradient(#dddddd 1px, transparent 0), linear-gradient(90deg, #dddddd 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -1px -1px;
  position: relative;
  float: left;
}
.g-pnl .left-pnl .floor .box {
  top: 80px;
  left: 80px;
  width: 40px;
  height: 40px;
  background: rgba(139, 220, 148, 0.3);
  border-radius: 50%;
  -webkit-transition: 200ms;
          transition: 200ms;
  position: absolute;
}
.g-pnl .left-pnl .floor .box .man {
  height: 60px;
  width: 51px;
  left: -5px;
  bottom: 10px;
  background-image: url("../img/man1.png");
  position: absolute;
}
.g-pnl .left-pnl .floor .box.lef .man {
  -webkit-animation: lef 1s steps(1) infinite;
          animation: lef 1s steps(1) infinite;
}
.g-pnl .left-pnl .floor .box.top .man {
  -webkit-animation: top 1s steps(1) infinite;
          animation: top 1s steps(1) infinite;
}
.g-pnl .left-pnl .floor .box.rig .man {
  -webkit-animation: rig 1s steps(1) infinite;
          animation: rig 1s steps(1) infinite;
}
.g-pnl .left-pnl .floor .box.bot .man {
  -webkit-animation: bot 1s steps(1) infinite;
          animation: bot 1s steps(1) infinite;
}
.g-pnl .right-pnl {
  width: 400px;
  height: 830px;
  margin-left: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
  float: left;
}
.g-pnl .right-pnl input[type="text"] {
  border-width: 1px;
}
.g-pnl .right-pnl .btn-pnl {
  height: 40px;
  line-height: 40px;
}
.g-pnl .right-pnl .code-pnl {
  height: 790px;
  height: calc(100% - 40px);
  color: #fff;
  background-color: #ccc;
  overflow: hidden;
}
.g-pnl .right-pnl .code-pnl ul {
  width: 40px;
  float: left;
  position: relative;
}
.g-pnl .right-pnl .code-pnl li.error {
  background-color: red;
}
.g-pnl .right-pnl .code-pnl textarea {
  width: 360px;
  width: calc(100% - 40px);
  height: 100%;
  margin: 0;
  border: none;
  vertical-align: top;
  color: greenyellow;
  background-color: #262626;
  resize: none;
}
@-webkit-keyframes lef {
  0% {
    background-position: 0 180px;
  }
  25% {
    background-position: 102px 180px;
  }
  50% {
    background-position: 51px 180px;
  }
  75% {
    background-position: 102px 180px;
  }
  100% {
    background-position: 0 180px;
  }
}
@keyframes lef {
  0% {
    background-position: 0 180px;
  }
  25% {
    background-position: 102px 180px;
  }
  50% {
    background-position: 51px 180px;
  }
  75% {
    background-position: 102px 180px;
  }
  100% {
    background-position: 0 180px;
  }
}
@-webkit-keyframes top {
  0% {
    background-position: 0 60px;
  }
  25% {
    background-position: 102px 60px;
  }
  50% {
    background-position: 51px 60px;
  }
  75% {
    background-position: 102px 60px;
  }
  100% {
    background-position: 0 60px;
  }
}
@keyframes top {
  0% {
    background-position: 0 60px;
  }
  25% {
    background-position: 102px 60px;
  }
  50% {
    background-position: 51px 60px;
  }
  75% {
    background-position: 102px 60px;
  }
  100% {
    background-position: 0 60px;
  }
}
@-webkit-keyframes rig {
  0% {
    background-position: 0 120px;
  }
  25% {
    background-position: 102px 120px;
  }
  50% {
    background-position: 51px 120px;
  }
  75% {
    background-position: 102px 120px;
  }
  100% {
    background-position: 0 64px;
  }
}
@keyframes rig {
  0% {
    background-position: 0 120px;
  }
  25% {
    background-position: 102px 120px;
  }
  50% {
    background-position: 51px 120px;
  }
  75% {
    background-position: 102px 120px;
  }
  100% {
    background-position: 0 64px;
  }
}
@-webkit-keyframes bot {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 102px 0;
  }
  50% {
    background-position: 51px 0;
  }
  75% {
    background-position: 102px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes bot {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 102px 0;
  }
  50% {
    background-position: 51px 0;
  }
  75% {
    background-position: 102px 0;
  }
  100% {
    background-position: 0 0;
  }
}
