*,
*:after,
*:before {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: "微软雅黑",sans-serif;
}
input,
button,
a{
    font-size: inherit;
    font-family: inherit;
}
.g-pnl {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    .title {
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        background-color: #cef;
        position: relative;
        &:before {
            content: "";
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: #f60;
            z-index: 1;
            display: inline-block;
            position: absolute;
        }
    }
    .floor {
        width: 500px;
        height: 500px;
        border: 1px solid #000;
        background: #fff;
        background-image: linear-gradient(#ddd 1px,transparent 0), linear-gradient(90deg, #ddd 1px, transparent 0);
        background-size: 50px 50px;
        background-position: -1px -1px;
        position: relative;
        .box {
            top: 100px;
            left: 100px;
            width: 50px;
            height: 50px;
            background-color: #6cf;
            transition: 200ms;
            position: absolute;
        }
        .box:after {
            content: "";
            height: 20%;
            width: 100%;
            background-color: #000;
            position: absolute;
        }
    }
    .ctrl-pnl {
        margin: 10px 0;
        text-align: center;
        input[type="text"] {
            border-width: 1px;
        }
    }
}