*,
*:after,
*:before {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: "微软雅黑",sans-serif;
}
input,
textarea,
button,
a {
    font-size: inherit;
    font-family: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;;
}
.g-pnl {
    width: 860px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    .title {
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        background-color: #cef;
        position: relative;
        &:before {
            content: "";
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: #f60;
            z-index: 1;
            display: inline-block;
            position: absolute;
        }
    }
    .left-pnl {
        float: left;
        .x-coordinate {
            height: 50px;
            line-height: 50px;
            padding-left: 50px;
            position: relative;
            overflow: hidden;
            li {
                width: 50px;
                height: 100%;
                float: left;
                text-align: center;
            }
        }
        .y-coordinate {
            width: 50px;
            line-height: 50px;
            position: relative;
            overflow: hidden;
            float: left;
            li {
                width: 100%;
                height: 50px;
                text-align: center;
            }
        }
        .floor {
            width: 500px;
            height: 500px;
            border: 1px solid #000;
            margin: 0 auto;
            background: #fff;
            background-image: linear-gradient(#ddd 1px,transparent 0), linear-gradient(90deg, #ddd 1px, transparent 0);
            background-size: 50px 50px;
            background-position: -1px -1px;
            position: relative;
            float: left;
            .box {
                top: 100px;
                left: 100px;
                width: 50px;
                height: 50px;
                background-color: #6cf;
                transition: 200ms;
                position: absolute;
                &:after {
                    content: "";
                    height: 20%;
                    width: 100%;
                    background-color: #000;
                    position: absolute;
                }
            }
        }
    }
    .right-pnl {
        width: 300px;
        height: 550px;
        margin-left: 10px;
        text-align: center;
        overflow: hidden;
        position: relative;
        float: left;
        input[type="text"] {
            border-width: 1px;
        }
        .btn-pnl {
            height: 50px;
            line-height: 50px;
        }
        .code-pnl {
            height: 500px;
            color: #fff;
            background-color: #ccc;
            overflow: hidden;
            ul {
                width: 30px;
                float: left;
                position: relative;
            }
            li.error {
                background-color: red;
            }
            textarea {
                width: e('calc(100% - 30px)');
                height: 100%;
                margin: 0;
                border: none;
                vertical-align: top;
                color: greenyellow;
                background-color: #262626;
                resize: none;
            }
        }
    }
}