*,
*:after,
*:before {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: "微软雅黑",sans-serif;
}
body {
    background-color: #ddd;
}
input,
textarea,
button,
a {
    font-size: inherit;
    font-family: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
}
.g-pnl {
    width: 1260px;
    margin: 20px auto;
    background-color: #fff2e9;
    position: relative;
    overflow: hidden;
    .title {
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        background-color: #cef;
        position: relative;
        &:before {
            content: "";
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: #f60;
            z-index: 1;
            display: inline-block;
            position: absolute;
        }
    }
    .left-pnl {
        float: left;
        position: relative;
        .cmd-tip {
            top: 0;
            right: 0px;
            width: 840px;
            height: 840px;
            position: absolute;
            overflow: hidden;
            transition: 200ms;
            ul {
                width: 100%;
                height: 100%;
                padding: 40px;
                z-index: 2;
                font-size: 18px;
                color: #fff;
                background-color: rgba(0,0,0,.7);
                position: absolute;
                label {
                    width: 7em;
                    display: inline-block;
                }
                em {
                    color: #ADFF2F;
                    font-style: normal;
                }
                img {
                    width: 600px;
                    margin: 10px 0;
                }
                li:first-child {
                    height: 2em;
                    font-size: 1.2em;
                    color: #f60;
                }
            }
            .btn-close {
                top: 4px;
                right: 4px;
                width: 32px;
                height: 32px;
                z-index: 3;
                background-color: #fff;
                background-image: url("../img/close.png");
                display: inline-block;
                position: absolute;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.2);
                    transition: transform 200ms;
                }
            }
            .bg-man {
                right: -200px;
                z-index: 1;
                position: absolute;
            }
        }
        .x-coordinate {
            height: 40px;
            line-height: 40px;
            padding-left: 40px;
            position: relative;
            overflow: hidden;
            li {
                width: 40px;
                height: 100%;
                float: left;
                text-align: center;
            }
        }
        .y-coordinate {
            width: 40px;
            line-height: 40px;
            position: relative;
            overflow: hidden;
            float: left;
            li {
                width: 100%;
                height: 40px;
                text-align: center;
            }
        }
        .floor {
            width: 800px;
            height: 800px;
            border: 1px solid #000;
            margin: 0 auto;
            background: #fff;
            background-image: linear-gradient(#ddd 1px,transparent 0), linear-gradient(90deg, #ddd 1px, transparent 0);
            background-size: 40px 40px;
            background-position: -1px -1px;
            position: relative;
            float: left;
            .box {
                top: 0px;
                left: 0px;
                width: 40px;
                height: 40px;
                background: rgba(139, 220, 148, 0.3);
                border-radius: 50%;
                transition: 150ms;
                position: absolute;
                .man{
                    height: 60px;
                    width: 51px;
                    left: -5px;
                    bottom: 10px;
                    z-index: 1;
                    background-image: url("../img/man1.png");
                    position: absolute;
                }
                &.lef .man {
                    animation: lef 1s steps(1) infinite;
                }
                &.top .man {
                    animation: top 1s steps(1) infinite;
                }
                &.rig .man {
                    animation: rig 1s steps(1) infinite;
                }
                &.bot .man {
                    animation: bot 1s steps(1) infinite;
                }
                .think {
                    top: -55px;
                    left: -3px;
                    height: 20px;
                    width: 46px;
                    padding: 5px;
                    z-index: 1;
                    border-radius: 10px;
                    background-color: #000;
                    position: absolute;
                    display: none;
                    div {
                        width: 8px;
                        height: 8px;
                        margin: 2px 0 0 3px;
                        border-radius: 5px;
                        background-color: #fff;
                        float: left;
                        animation: bouncedelay 1s infinite ease-in-out;
                        &.think1 {
                            animation-delay: -0.32s;
                        }
                        &.think2 {
                            animation-delay: -0.16s;
                        }
                    }
                }
            }
            .wall {
                width: 40px;
                height: 40px;
                background-color: #000;
                position: absolute;
            }
        }
    }
    .right-pnl {
        width: 400px;
        height: 830px;
        margin-left: 10px;
        text-align: center;
        overflow: hidden;
        position: relative;
        float: left;
        input[type="text"] {
            border-width: 1px;
        }
        .btn-pnl {
            height: 40px;
            line-height: 40px;
        }
        .code-pnl {
            height: 790px;
            height: e('calc(100% - 40px)');
            color: #fff;
            background-color: #ccc;
            overflow: hidden;
            ul {
                width: 40px;
                float: left;
                position: relative;
            }
            li.error {
                background-color: red;
            }
            textarea {
                width: 360px;
                width: e('calc(100% - 40px)');
                height: 100%;
                margin: 0;
                border: none;
                vertical-align: top;
                color: greenyellow;
                background-color: #262626;
                resize: none;
            }
        }
    }
}
@keyframes lef {
    0% {
        background-position: 0 180px;
    }
    25% {
        background-position: 102px 180px;
    }
    50% {
        background-position: 51px 180px;
    }
    75% {
        background-position: 102px 180px;
    }
    100% {
        background-position: 0 180px;
    }
}
@keyframes top {
    0% {
        background-position: 0 60px;
    }
    25% {
        background-position: 102px 60px;
    }
    50% {
        background-position: 51px 60px;
    }
    75% {
        background-position: 102px 60px;
    }
    100% {
        background-position: 0 60px;
    }
}
@keyframes rig {
    0% {
        background-position: 0 120px;
    }
    25% {
        background-position: 102px 120px;
    }
    50% {
        background-position: 51px 120px;
    }
    75% {
        background-position: 102px 120px;
    }
    100% {
        background-position: 0 64px;
    }
}
@keyframes bot {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 102px 0;
    }
    50% {
        background-position: 51px 0;
    }
    75% {
        background-position: 102px 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: translate(0,0);
  } 40% {
    transform: translate(0,-8px);
  }
}